/*
Author: Jakub Sykora
Not to be used without permission

*/
/* 
    Created on : Nov 23, 2015, 3:24:12 AM
    Author     : jakub
*/
body{
    background-image:url('../Assets/images/rain.jpg');
    background-size: auto;
}
.border
{
    border: 3px blue solid;
    margin: 0% 30% 0% 30%;
}
.nav{
    margin: auto;
    width:60%;
   
}
ul {
    list-style: none;   
}
ul li a:hover{
     background-color: #ffffa2;
}
ul li{
    display: block;
    position: relative;
    float:left;
}
li ul{
    display:none;
}
li ul a:hover{
    background-color: #ffffa2;
}
ul li a{
    font-family: fantasy;
    display: block;
    background-color:yellow;
    border:2.5px solid blue;
    padding: 15px 45px 15px 45px;
    white-space: nowrap;
    text-decoration: none;    
}
li:hover ul 
{
    display: block;
    position: absolute;    
}
li:hover li
{
    float: none;
    font-size: 14px;  
}
.wownew{
    font-weight: 900;
    font-style:italic;
}
.mainContent{
     background-color:rgba(255,255,0,0.5);
     border: 3px solid blue;
     text-align:center;
     float:none;
     margin:auto;
     width: 63%;
     padding-top: 2%;
     padding-bottom: 10%;
}
.mainContent p{
    text-align: center;
}
.torontoWeather{
    padding: 5% 2% 1% 2%;
    float:left;
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    font-size: 19px;
}
.barrieWeather{
    padding: 5% 2% 1% 2%;
    float:right;
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    font-size: 19px;
}
